@charset "UTF-8";

// ********base**********
// **********************
html {
    box-sizing: border-box;
    background: url("../images/white_rightcanvas.jpeg") 0 0 repeat-x;
    z-index: -999;
}
*,*:before,*:after {
    box-sizing:inherit;
}
body {
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシックPro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳＰゴシック', 'MS PGothic', sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
a {
  text-decoration: none;
}
li {list-style-type: none;}

// **********header********
// ************************
header {
    width:100%;
    z-index:2;
    position:fixed;
    background:rgba(255,255,255,.7);
    display:table;
    font-size:0;
    line-height:0;
}
nav {
    display:table-cell;
}
nav {
    text-align:right;
    vertical-align:bottom;
}
// header h1 a img {
//     height:40px;
//     margin:10px}
header ul {
    font-size:45px;
    line-height:1;
    margin:0 10px 10px 0;
}
header ul li {
    margin-left:3px;
    display:inline-block;
}
header ul li:last-child::after {content:''}
header ul li a {color:inherit}

// ************ main img ****************
// ***********************************
.container-main {
    position: relative;
    width: 1000px;
    min-height: 800px;
    margin: 0 auto;
    text-align: left;
}
.main-img .tiger {
    z-index: 1;
    position: absolute;
    top: -200px;
    left: -50%;
}
.main-img .watasi {
    z-index: 1;
    position: absolute;
    top: -50px;
    left: -10%;
}
// .main-img .takoyaki {
//     z-index: 1;
//     position: absolute;
//     top: -100px;
//     left: -50%;
// }
.main-img .suisai01 {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
}
.main-img .suisai03 {
    z-index: 1;
    position: absolute;
    top: 35px;
    left: 60px;
}
.main-img .hansin {
    z-index: 1;
    position: absolute;
    top: -100px;
    left: -60%;
}
.main-name {
    width: 300px;
    height: 300px;
    background: url("../images/title.png") 0 0 no-repeat/contain;
    z-index: 1;
    position: fixed;
    top: 40%;
    right: 10%;
}
.main-name h1, .main-name p {
    text-indent: -9999px;
}
.inc {
    background: url("../images/suisai03.png") 0 0 no-repeat/contain;
    width: 100px;
    height: 100px;
    position: fixed;
    right: 3%;
    bottom: 30%;
    z-index: 1;
}
// ********profile**********
// *************************


// ********skill**********
// *************************


// ********works**********
// *************************
/* 全体のスタイル */
.swiper-container {
    width: 100%;
    height: 800px;
}
/* 親Swiperのスライドの設定 */
.swiper-wrapper {
    margin-top: 50px;
    height: 0 !important;
}
.swiper-parent .swiper-slide {
    height: 250px;
}
/* 子Swiperのスライドの設定 */
.swiper-child .swiper-slide {
    height: 300px;
}
.site {
    width: 620px !important;
    height: 280px;
    margin: 20px 0 10px 30px;
    border-radius: 5px;
    background: url("../images/white_wasi.jpeg") 0 0 no-repeat/cover;
    box-shadow: 0 3px 6px #ccc;
}
.card1 {
        width: 290px !important;
        margin: 20px 0 10px 30px !important;
        border-radius: 5px;
        background: url("../images/white_wasi.jpeg") 0 0 no-repeat/cover;
        box-shadow: 0 3px 6px #ccc;
    }
    .card2 {
        width: 250px !important;
    }
    .image1 {
        width: 90%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
        margin: 5px 15px;
    }
    .image2 {
        width: 90%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
        margin: 5px 30px;
    }
    .image3 {
        width: 90%;
        height: 300px;
        object-fit: contain;
        border-radius: 5px 5px 0 0;
        margin: 30px 80px;
    }
    .content1 {
        padding: 10px;
        color: #666;
    }


// ********contact**********
// *************************
.container-profile {
    position: absolute;
    top: 30%;
    right: 0;
    width: 400px;
    height: 500px;
    padding: 20px;
    z-index: 1;
}

