@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

// ********base**********
// **********************
html {
    box-sizing: border-box;
    background: url("../images/white_rightcanvas.jpeg") 0 0 repeat-y/cover;
    z-index: -999;
}
*,*:before,*:after {
    box-sizing:inherit;
}
body {
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシックPro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳＰゴシック', 'MS PGothic', sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    min-height: 870px;
}
a {
  text-decoration: none;
}
li {list-style-type: none;}

// **********header********
// ************************
header {
    width:100%;
    z-index:2;
    position:fixed;
    background:rgba(255,255,255,.7);
    display:table;
    font-size:0;
    line-height:0;
}
nav {
    display:table-cell;
}
nav {
    text-align:right;
    vertical-align:bottom;
}
header ul {
    font-size:45px;
    line-height:1;
    margin:0 10px 10px 0;
}
header ul li {
    margin-left:3px;
    display:inline-block;
}
header ul li:last-child::after {content:''}
header ul li a {color:inherit}

// ************共通****************
// ***********************************
.container-main {
    position: relative;
    width: 1000px;
    height: 830px;
    margin: 0 auto;
    text-align: left;
}
.main-img .tiger01 {
    z-index: 1;
    position: absolute;
    top: -200px;
    left: -60%;
    opacity: 0;
    animation: a 1.5s 1s forwards;
    width: 1500px;
    height: 1000px;
    object-fit: cover;
}
@keyframes a {
    0% { opacity: 1;}
    100% {opacity: 1;}
}
.main-img .tiger02 {
    z-index: 1;
    position: absolute;
    top: -250px;
    left: -60%;
    opacity: 0;
    animation: b 2.5s 2s forwards;
}
@keyframes b {
    0% { opacity: 1;}
    100% {opacity: 1;}
}
.main-img .tiger03 {
    z-index: 1;
    position: absolute;
    top: -250px;
    left: -60%;
    opacity: 0;
    animation: c 3s 2.5s forwards;
}
@keyframes c {
    0% { opacity: 1;}
    100% {opacity: 1;}
}
.main-img .tiger04 {
    z-index: 1;
    position: absolute;
    top: -250px;
    left: -60%;
    opacity: 0;
    animation: d 3.5s 3s forwards;
}
@keyframes d {
    0% { opacity: 1;}
    100% {opacity: 1;}
}
.main-img .tiger05 {
    z-index: 1;
    position: absolute;
    top: -250px;
    left: -60%;
    opacity: 0;
    animation: e 4.5s 4s forwards;
}
@keyframes e {
    0% { opacity: 1;}
    100% {opacity: 1;}
}
.main-img .tiger06 {
    z-index: 1;
    position: absolute;
    top: -250px;
    left: -60%;
    opacity: 0;
    animation: f 5s 4.5s forwards;
}
@keyframes f {
    0% { opacity: 1;}
    100% {opacity: 1;}
}
.main-img .tiger07 {
    z-index: 1;
    position: absolute;
    top: -250px;
    left: -60%;
    opacity: 0;
    animation: g 6s 5s forwards;
}
@keyframes g {
    0% { opacity: 1;}
    100% {opacity: 1;}
}
.main-img .tiger08 {
    z-index: 1;
    position: absolute;
    top: -250px;
    left: -60%;
    opacity: 0;
    animation: h 6.5s 6s forwards;
}
@keyframes h {
    0% { opacity: 1;}
    100% {opacity: 1;}
}
.main-img .tiger09 {
    z-index: 1;
    position: absolute;
    top: -250px;
    left: -60%;
    opacity: 0;
    animation: i 7s 6.5s forwards;
}
@keyframes i {
    0% { opacity: 1;}
    100% {opacity: 1;}
}
.main-img .tiger10 {
    z-index: 1;
    position: absolute;
    top: -250px;
    left: -60%;
    opacity: 0;
    animation: j 8s 7s forwards;
}
@keyframes j {
    0% { opacity: 1;}
    100% {opacity: 1;}
}
.main-img .tiger11 {
    z-index: 1;
    position: absolute;
    top: -250px;
    left: -60%;
    opacity: 0;
    animation: k 8.5s 8s forwards;
}
@keyframes k {
    0% { opacity: 1;}
    100% { opacity: 1; }
}
.tiger12 {
    z-index: 1;
    position: absolute;
    top: -150px;
    left: -55%;
    opacity:0;
    animation: late 3s 15s ease-in-out;
    width: 1417px;
    height: 1000px;
    object-fit: cover;
}
@keyframes late {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}


.main-img .suisai04 {
    z-index: 1;
    position: absolute;
    top: -20px;
    left: -80px;
}
.main-img .suisai04-s {
    z-index: 1;
    position: absolute;
    top: -5px;
    left: 40px;
}
.main-img .suisai03 {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: -40px;
}
.main-name {
    width: 300px;
    height: 300px;
    background: url("../images/title.png") 0 0 no-repeat/contain;
    z-index: 1;
    position: fixed;
    top: 40%;
    right: 10%;
}
.main-name h1, .main-name p {
    text-indent: -9999px;
}
.inc {
    background: url("../images/suisai04.png") 0 0 no-repeat/contain;
    width: 150px;
    height: 150px;
    position: fixed;
    right: 3%;
    bottom: 30%;
    z-index: -1;
}
// ********profile**********
// *************************
.main-img .watasi {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: -10%;
    transform: scale(0.8);
    width: 500px;
    height: 886px;
    object-fit: contain;
}
.container-profile {
    padding-top: 100px;
    z-index: 2;
}
.container-profile h3,
.container-profile h4,
.container-profile p {
    padding-left: 40%;
    margin: 20px 0 0 0;
}
.container-profile h3 {
    padding-top: 50px;
}
.container-profile p {
    margin: 0;
    line-height: 1.5;
    font-size: 1em;
}
.title-profile {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -5%;
    right: 0;
}
.suisai-profile {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 43px;
    right: -6%;
    z-index: -1;
}
// ********works**********
// *************************
.work-box {
    width: 800px;
    padding-top: 100px;
    margin: 0 auto;
}
.site01+p {
    width: 800px;
    margin: 0 auto;
}
// hover effect
figure.hover-work {
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    color: #000;
    text-align: center;
}
figure.hover-work * {
    box-sizing: border-box;
    transition: all 0.6s ease;
}
figure.hover-work img {
    background: #fff;
    width: 100%;
    transition: opacity 0.35s;
}
figure.hover-work:after {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    opacity: 0.75;
    transform: skew(-45deg) scaleX(0);
    transition: all 0.3s ease-in-out;
}
figure.hover-work figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 1;
}
figure.hover-work h2,
figure.hover-work p {
    margin: 0;
    width: 100%;
    opacity: 0;
}
figure.hover-work h2 {
    padding: 0 30px;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
}
figure.hover-work p {
    padding: 0 50px;
    font-size: 0.8em;
    font-weight: 500;
}
figure.hover-work a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
figure.hover-work:hover:after,
figure.hover-work.hover:after {
    transform: skew(-45deg) scaleX(1);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
figure.hover-work:hover figcaption h2,
figure.hover-work.hover figcaption h2,
figure.hover-work:hover figcaption p,
figure.hover-work.hover figcaption p {
    transform: translate3d(0%, 0%, 0);
    transition-delay: 0.2s;
}
figure.hover-work:hover h2,
figure.hover-work.hover h2 {
    opacity: 1;
}
figure.hover-work:hover p,
figure.hover-work.hover p {
    opacity: 0.7;
}
.work-box__ps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    width: 800px;
    margin: 0 auto;
}
.ps {
    width: 350px;
    text-align: center;
    margin: 20px 10px;
}
.ps img {
    width: 100%;
}
button {
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  cursor: pointer;
  position: relative;
}
.btn {
  font-size: 14px;
  line-height: 1.4;
  top: 0;
}
/** Modal */
.modal {
  display: none;
  position: fixed;
  top: 13%;
  left: 21%;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  z-index: 1;
}
.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  background-color: transparent;
}

/** Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.title-work {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: -350%;
}

.pagetop {
    display: none;
    position: fixed;
    bottom: 171px;
    right: 18px;
}
.pagetop a {
    display: block;
    background: url("../images/suisai04.png") 0 0 no-repeat/100px;
    text-align: center;
    color: #222;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    filter: alpha(opacity=50);
    width: 80px;
    height: 80px;
    position: relative;
}
.pagetop a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#top .pagetop a:hover {
    display: block;
    background: url("../images/suisai02.png") 0 0 no-repeat/contain;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
}
// ********skill**********
// *************************
.main-img .hansin {
    z-index: -1;
    position: absolute;
    top: -100px;
    left: -60%;
    opacity: 0.8;
}
.container-skill {
    padding-top: 100px;
}
.container-skill h3, .container-skill p {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
.container-skill h3 {
    padding-top: 50px;
    text-decoration: underline;
}
.container-skill p {
    margin-top: 70px;
    line-height: 2;
    font-weight: bold;
    font-size: 1.5em;
}

.title-skill {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 6%;
}
.suisai-skill {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10%;
    right: 0;
    z-index: -1;
}
// ********contact**********
// *************************
.container-contact {
    position: relative;
    padding-top: 100px;
}
.container-contact__box {
    width:70%;
    height:500px;
    background: url("../images/white_wasi.jpeg") 0 0 no-repeat/cover;
    margin:40px auto;
    position: relative;
    top: 20%;
    right: 0px;
    box-shadow: 0px 0px 0.3px #777;
    padding: 20px;
}
.container-contact__box h3 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
}
.container-contact__box p {
    font-family: 'Architects Daughter', cursive;
}
.shadow {
    position: relative;
}
.shadow:before, .shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.shadow:after{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.contact {
    float: left;
}
.contact p {
    margin-bottom: 0;
}
.mydata {
    overflow: hidden;
    width: 300px;
    height: 300px;
    transform: rotate(-10deg);
    margin: 50px 0 0 400px;
}
.sns {
    clear: both;
    position: absolute;
    bottom: 50px;
    right: 0;
}
.sns li {
    display: inline-block;
}
.sns a {
    display: block;
    padding: 15px;
}

// ********footer**********
// *************************
.wrapper {
    position: relative;
    width: 100%;
    height: auto;
}
.footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: -360%;
}